<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet" />

		<script src="https://kit.fontawesome.com/781571eb05.js" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="./static/css/index.css" />
		<title>ANN Digit Recognizer</title>
	</head>
	<body>
		<header>
			<h1>Digit Recognizer</h1>
		</header>
		<main>
			<div class="draw-area">
				<p>Draw a digit in the box below</p>
				<canvas id="drawCanvas" width="400" height="400"></canvas>
				<div class="button-wrapper">
					<button class="image-button clear" id="clear-btn">
						<img src="../static/icons/icons8-cancel-100.svg" alt="cancel button" />
					</button>
					<!-- <button class="image-button" id="erase-btn">
						<img src="../static/icons/icons8-eraser-64.png" alt="erase button" />
					</button> -->
					<button class="image-button send" id="send-btn">Predict</button>
				</div>
			</div>
			<div class="preview-container">
				<p>Preview the 28x28 image of the digit</p>
				<div class="preview"></div>
				<!-- <div class="button-wrapper">
					<button class="preview-btn cancel" id="clear-btn">Cancel</button>
					<button class="preview-btn predict" id="send-btn">Predict</button>
				</div> -->
			</div>
			<div class="prediction-container">
				<p>Predictions & Accuracy</p>
				<div class="guesses">
					<div class="each-guess">
						<p>First Guess (98.00%):</p>
						<span></span>
					</div>
					<div class="each-guess">
						<p>Second Guess (87.67%):</p>
						<span></span>
					</div>
					<div class="each-guess">
						<p>Third Guess (67.12%):</p>
						<span></span>
					</div>
				</div>
			</div>
		</main>

		<script src="./static/js/main.js"></script>
	</body>
</html>
